.footer-container {
  width: 100%;
  height: 2.5rem;
  margin-top: 10rem;
}
.footer {
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  background-color: rgb(67, 92, 112);
}

.head {
  padding: 5rem auto;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}
